@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <p>This time is @DateTime.Now </p>
    <h2>welcome2</h2>
    @{
        var head = "2022.06.27";
        var foot = "2022.06.28";
    }
    <h3>This time I'm gonna use Razor. Like this, 
        The first variable head is : @head
        The second variable foot is : @foot
    </h3>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
